<div class="row">
    <div class="col s8 offset-s2">
    <div class="card">
        <div class="sm-jumbotron center-align">
        <h2>Регистрация пользователя</h2>
    </div> 
    <form class="col s12 white" #userRegistrationForm="ngForm">
        <div class="row">
            <div class="input-field col s12">
                <label>Имя профиля</label>
                <input class="validate" type="text" name="Username" #UserName="ngModel" [(ngModel)]="user.UserName" required minlength="3">
                <div [hidden]="UserName.valid || UserName.untouched" class="alert alert-danger">
                    Не указано имя
                </div>
            </div>
            <div class="input-field col s12">
                <label>Пароль</label>
                <input class="validate" type="text" name="Password" #Password="ngModel" [(ngModel)]="user.Password"  required minlength="3">
                <div [hidden]="Password.valid || Password.untouched" class="alert alert-danger">
                    Некорректный пароль
                </div>
            </div>

            <div class="input-field col s12">
                <label>Имя</label>
                <input type="text" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" pattern="[a-zA-Zа-яА-ЯёЁ ]+" required minlength="2">
                <div [hidden]="FirstName.valid || FirstName.untouched" class="alert alert-danger">
                    Введите имя пользователя. Минимум 2 символа
                </div>
            </div>

            <div class="input-field col s12">
                <label>Фамилия</label>
                <input type="text" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" pattern="[a-zA-Zа-яА-ЯёЁ ]+" required minlength="2">
                <div [hidden]="LastName.valid || LastName.untouched" class="alert alert-danger">
                    Введите фамилию пользователя. Минимум 2 символа
                </div>
            </div>

            <div class="input-field col s12">
                <input type="date" name="Birthday" #Birthday="ngModel" [(ngModel)]="user.Birthday">
                <label>Дата рождения</label>
            </div>

            
        <div class="choice">
            <p>
                <label><input type="radio" name="r" checked><span>Мужской</span></label>
                <label><input type="radio" name="r" checked><span>Женский</span></label>
                <input type="submit" value="Выбрать">
            </p>
           
        </div>
        

        <div class="input-field col s12">
            <label>Номер телефона</label>
            <input type="text" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="user.PhoneNumber" placeholder="(XXX) XXX-XX-XX" required pattern="[0-9]{10}" />
            <div [hidden]="PhoneNumber.valid ||PhoneNumber.untouched" class="alert alert-danger">
                Некорректный номер телефона
            </div>
        </div>

        <div class="input-field col s12">
            <label>Email</label>
            <input class="form-control" type="email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required email>
            <div [hidden]="Email.valid || Email.untouched" class="alert alert-danger">
                Некорректный email
            </div>
        </div>

        <div class="input-field col s12">
            <label>Серия и номер паспорта</label>
            <input type="text" name="Passport" #Passport="ngModel" [(ngModel)]="user.Passport" placeholder="xxxx xxxxxx" required minlength="10" pattern="[0-9]{10}">
            <div [hidden]="Passport.valid || Passport.untouched" class="alert alert-danger">
                Введите серию и номер паспорта в формате (xxxx)(xxxxxx)
            </div>
        </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
            <button class="btn-large btn-submit" type="submit">Отправить</button>
        </div>
        </div>
    </form>
    </div>
    </div>
</div>    